
h1 {
    padding-top: 5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 50% 50%;
    width: 50%;
    height: 75vh;
    margin: 10px auto;
}

.item {
    border: solid red 1px;
}

#user-one-dash {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }

#main-item {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
  }

  .item-2 {
      text-align: center;
  }

#user-two-dash {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
  }

  .choices {
      border: solid red 1px;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
  }

  .action-div {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 50%;
  }

  .player-action-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    align-items: center;
}

  .user-score {
      height: 3rem;
      border: solid red 1px;
      margin-bottom: 5rem;
      margin-top: 2rem;
  }

  #user-one-dash #user-two-dash {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-button-div {
      display: flex;
      justify-content: flex-end;
      /* margin-top: 1rem; */
      margin-right: 2rem;
      
  }

  .create-game-button {
      margin-top: 3rem;
  }

  .user-name {
      text-align: center;
      margin: auto;
      padding-top: 1rem;
      font-size: 2rem;
  }
  
  #login-button1 {
      height: 3rem;
      width: 14rem;
  }

  #log-out-button {
      height: 3rem;
  }